html{


}
body{
    width: 79%;
    height: 100%;
    margin-left:21%;
    background: url("fondu.png") no-repeat;
    background-attachment: fixed;
    background-size: 100% auto;


}

.principal{
    background: linear-gradient(to bottom,black,grey,black);
    min-height: 600px;
    width: 70%;
    opacity: 0.9;
    margin-left: 20%;
    box-shadow: 3px 2px 2px black;
    border-radius: 10px;

}
.principal tr{
    color : whitesmoke;
}
.principal p {
    text-align: center;
}
#annoncedefile{
    height: 470px;
    width: 100%;
    background-color: blueviolet;
}

.logo{
    width: 200px;
    margin-left: -140Px;
}
.i0.src {
    width: 800px;


}

#navbar ul li a{
    text-decoration: none;
    color:whitesmoke;
    font-family: sans-serif;
    font-weight: 300;
    text-align : center;

}

#navbar{
    margin-left:5%;
}
#bandelogo{
    background: linear-gradient(to bottom,#C40202,red,#C40202);
    /*background: linear-gradient(to top, #b4aeac,#524a48, #262320);*/
    height: 100%;
    width: 20%;
    left: 0;
    margin-left: 7.8%;
    margin-top: -60px;
    position:fixed;
    /*


	/*padding-top: 40px;
	padding-bottom: 40px*/
}

.imageannonce{
    height: 30%;
    width: 70%;

}
#search{
    border-radius: 10px;
    height: 25px;
    width: 150px;
    margin-left: 30px;
}
#imagesearch{
    margin-left: 20px;
}

#navbar{
    padding-top: 1px;
    padding-bottom: 1px;
    margin-top: -120px;
    text-align: center;
    width: 100%;

}
li{

    display:inline;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    /*border-right: 1px solid #9BA2A1;
    border-left: 1px solid #9BA2A1;*/
    margin-right:-5px;
    color:whitesmoke;
}
li:hover{
    background-color: #BDB5B5;
    padding-top: 17px;
    padding-bottom: 17px;
}
h3{
    color: greenyellow;
    text-align: center;
}

p{
    color: whitesmoke;
    margin-left: 13px;
    margin-right: 10px;
    font-family: sans-serif;
}
#compte{
    padding-bottom: 10px;
    /*border-bottom: solid 1px white ;*/
}
#panier{
    margin-top:10px;
}
/*#trou{
    background: linear-gradient(to bottom,black,grey,black);
    opacity: 0.5;
    margin-top:10px ;

}*/
#PC{
    border:solid 1px white;
    border-radius:6px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
    margin-left:30px;
    margin-right:30px;
    margin-top: 10%;

}
#PC a{
    text-decoration: none;
    color :whitesmoke;
    font-family: sans-serif;
}
.op{
    width:79%;
    margin-left:20%;
}

#miseenvente input{
    margin-top:10px;
}

#footer{
    height: 34px;
    padding-top:10px;
    background: linear-gradient(to bottom,#C40202,red,#C40202);
    text-align: center;
    bottom:0;
}
a{
    text-decoration: none;
}
.imgfoot:hover{
    background-color:green;
    border-radius:15px;
}

div.annoncedefile a {
    display: block;
}

div.annoncedefile a img {
    display: block;
    margin: 0 auto;
}


#are{
    /* float: left;*/
}

#connect{
    text-decoration: none;
}
/*#textproduct{
    text-decoration-color: white;
}*/

h1{
    color: red;
    text-align: center;
}
h2{
    color: orangered;
    text-align: center;
    height: 100%;

}


/*.faqList{ margin:15px 0; border:1px solid #E1DFDD; border-bottom:0; }
.faqList .entry{ height:22px; overflow:hidden; border-bottom:1px solid #E1DFDD; }
.faqList .entry h2 a{ display:block; padding:4px 5px 4px 30px; height:15px; font-weight:normal; background:url(faq-closed.png) no-repeat; }
.faqList .entry h2 a:hover{ text-decoration:none; background-color:#F7F7F7; }
.faqList .entry .answer{ padding:10px 5px 10px 30px; }
.faqList .entry .answer .links{ margin:5px 0; }
.faqList .entry .answer .links ul li a{ font-weight:normal; }
.faqList .entry .answer a{ color:#FA0057; }
.faqList .open{ height:auto; overflow:visible; background:#F7F7F7; }
.faqList .open h2 a{ font-weight:bold; background-image:url(faq-open.png); }